<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yg84.dzgj.client.dao.dzgj.BulletinMapper">
	
	<!-- 
  <insert id="insert" paramType="com.monkey01.springbootstart.demo.User">
  	insert into usertable(username, password, age, address) 
  	values(#{user.username}, #{user.password}, #{user.age}, #{user.address})
  </insert>
	 -->

</mapper>